<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Layout 1</title>
<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <p class="logotext">Blog<strong></strong><br>
      <span class="logotext2">Your slogan goes here</span></p>
    <div id="headinfo"> <img src="assets/images/sitemap.gif" /><a href="http://web-mastery.info/">Sitemap</a> | <img src="assets/images/contact.gif" /><a href="http://web-mastery.info/">Contact Us</a> </div>
  </div>
  <div id="nav">
    <ul>
      <li><a href="http://web-mastery.info/">Home</a></li>
      <li><a href="http://web-mastery.info/">About</a></li>
      <li><a href="http://web-mastery.info/">Products</a></li>
      <li><a href="http://web-mastery.info/">Services</a></li>
      <li><a href="http://web-mastery.info/">Contact</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="left">
      <h2>Categories</h2>
      <ul>
        <li><a href="http://web-mastery.info/">Solutions</a></li>
        <li><a href="http://web-mastery.info/">Products</a>
          <ul>
            <li><a href="http://web-mastery.info/">Nested Link</a></li>
          </ul>
        </li>
        <li><a href="http://web-mastery.info/">About Us</a></li>
        <li><a href="http://web-mastery.info/">Investor</a></li>
        <li><a href="http://web-mastery.info/">Press Releases</a></li>
        <li><a href="http://web-mastery.info/">Affiliates</a></li>
        <li><a href="http://web-mastery.info/">Contact Us</a></li>
      </ul>
      <h2>Useful Sites</h2>
      <ul>
        <li><a href="http://web-mastery.info/">Dylan Butler</a></li>
        <li><a href="http://web-mastery.info/">Awake At Three</a></li>
        <li><a href="http://web-mastery.info/">Pint, Inc.</a></li>
        <li><a href="http://web-mastery.info/">Submit Your Site</a></li>
      </ul>
    </div>
    <div id="breadcrumb"><a href="http://web-mastery.info/">Home</a> &raquo; <a href="http://web-mastery.info/">Somewhere</a></div>
    <div id="right">
      <h1>Lorem Ipsum Dolor Set Amir</h1>
      <span class="postinfo"> Posted by <a href="http://web-mastery.info/">Dylan</a> on 07.09.06</span>
      <p>Lorem ipsum dolor set amir tolos and tacos for plenty to see. jack is the orange sub marine, by any means I found my plans. </p>
      <hr />
      <h1>Lorem Ipsum Dolor Set Amir</h1>
      <span class="postinfo"> Posted by <a href="http://web-mastery.info/">Dylan</a> on 07.09.06</span>
      <p>Lorem ipsum dolor set amir <a href="http://web-mastery.info/">tolos</a> and tacos for plenty to see. jack is the orange sub marine, by any means I found my plans. </p>
    </div>
  </div>
  <br class="clear" />
  <div id="footer">
    <p>All content copyright &copy; 2006 <strong>Your Website</strong>, all rights reserved. Layout created at <a href="http://cssweblayouts.com" target="_blank">CSSWebLayouts</a><br />
      <a href="http://web-mastery.info/">Legal</a> | <a href="http://web-mastery.info/">Privacy Policy</a> | <a href="http://web-mastery.info/">Contact</a></p>
  </div>
</div>
</body>
</html>
